.upload-file-wrapper {
	display: block;
	padding: 20px 10px;
}
.form-layout {
	display: flex;
	padding: 5px;
}

.form-btn {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 5px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.result-layout {
	display: flex;
	flex-direction: column;
	min-height: 300px;
	align-items: center;
	margin-top: 30px;
}

.result-item {
	display: flex;
}
